<head>
    <meta charset="UTF-8"/>
    <meta name="robots" content="all"/>
    <meta name="language" content="english"/>
    <meta name="author" content="Build This!"/>
    <meta name="description" content="Site Description."/>
    <meta name="keywords" content="Site Keywords"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="./style/default/default-small.css"/>
    <link rel="stylesheet" type="text/css" href="./style/default/default-large.css" />
    <link rel="stylesheet" type="text/css" href="./style/default/error.css" />
    <title> <%= title %> </title>
</head>