<% include ./header-image %>
<nav>
    <a href="index.html">
        <div>
            <p>Home</p>
        </div>
    </a>
    <a href="logout.html">
        <div>
            <p>Log out</p>
        </div>
    </a>
</nav>