<!--Template of the index page.-->
<!DOCTYPE html>
<html>
<% include ../templates/head %>
<body>
    <% if (isLoggedIn) { %>
        <% include ../templates/header/logged-in-header %>
    <% } else { %>
        <% include ../templates/header/not-logged-in-header %>
    <% } %>
    <main>
        <article>
            <section>
                <h3><%= title %></h3>
            </section>
            <section>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc consectetur, ante quis rutrum dictum, ante erat efficitur
                mauris, a porttitor orci mi sed ante. Suspendisse sed efficitur mauris, non rhoncus enim. In tristique eget lectus sed
                consequat. Nam ut rutrum nisl. Fusce auctor dui eu velit consequat tempor. Cras non purus eget orci suscipit gravida ut
                nec tortor. Maecenas blandit ultricies sagittis. Fusce elementum vitae libero ac pretium. Vivamus sit amet felis blandit
                velit suscipit congue. In felis nunc, semper a bibendum id, ullamcorper faucibus nibh. Praesent fringilla, metus ut
                auctor posuere, enim augue porta diam, at pretium ante sem non ipsum. Nullam ultricies blandit pharetra. Integer
                lobortis nibh et risus ullamcorper, sit amet malesuada ex cursus. Sed in metus et risus condimentum eleifend.
            </section>
            <section>
                Vestibulum a nisl vel nisl viverra consectetur sed a neque. Fusce et magna finibus, dictum turpis eu, tristique arcu.
                Morbi eleifend risus mi. Nulla ornare felis non bibendum elementum. Aenean felis tellus, fermentum luctus dignissim
                vitae, tristique eget mauris. Donec at felis sit amet sapien porttitor eleifend. Morbi neque leo, euismod a metus et,
                vehicula vehicula ante. Quisque pulvinar arcu lacus, ac facilisis nisl auctor convallis.
            </section>
            
            <section>
                Donec interdum pulvinar interdum. Aliquam feugiat faucibus augue, nec mollis velit scelerisque eget. Mauris ut urna
                luctus, venenatis dui eget, varius orci. Nam sollicitudin malesuada ligula, quis varius sem faucibus in. Sed porta augue
                non finibus rutrum. Vestibulum finibus velit eget sagittis vestibulum. Mauris massa sapien, egestas in interdum ac,
                tincidunt id nisl. Donec euismod egestas viverra. Vestibulum a urna dui. Nam mollis iaculis mi, eu rutrum dui. Vivamus
                id pretium nisi.
            </section>
            <section>
                Sed ante dolor, ultricies sit amet posuere efficitur, pretium et eros. Etiam dapibus sapien at lorem fringilla, eu
                varius mi varius. Quisque in pellentesque lacus, tempor maximus magna. Suspendisse potenti. Curabitur rhoncus
                tincidunt
                eros, non convallis turpis finibus sit amet. Suspendisse nisi diam, volutpat sit amet lorem et, convallis
                consectetur
                mauris. Integer sed dignissim libero. Ut at semper urna, eu ullamcorper lectus. Phasellus efficitur sapien purus, ut
                blandit eros scelerisque et. In hac habitasse platea dictumst. Nulla ut lorem ac dui luctus dignissim. Integer
                tincidunt
                quam quis enim facilisis auctor. Nullam hendrerit erat semper magna mattis semper. Duis placerat lacus ut interdum
                imperdiet.
            </section>
        </article>
        <aside>
            <section>
                Curabitur varius rhoncus erat at placerat. Phasellus tempus lectus magna, et tincidunt nisl efficitur nec. Nunc et
                viverra lorem. Fusce leo urna, pulvinar nec egestas sed, euismod id sem. Ut maximus arcu eget gravida faucibus. Cras id
                nulla pellentesque, fringilla nisi non, sodales purus. Nullam commodo, erat sed condimentum consequat, nisi augue luctus
                lectus, at venenatis velit ligula non felis. Nullam ac tortor non odio iaculis malesuada. Fusce ipsum enim, hendrerit
                sit amet libero at, posuere posuere mi. Fusce volutpat neque tortor, elementum tristique lorem finibus nec. Nulla
                dignissim rutrum dolor, vitae dapibus elit pretium non. Aliquam porta cursus velit, ac imperdiet mi congue vel.
                Pellentesque vel lorem vel arcu bibendum accumsan. Nam semper viverra est quis feugiat. Sed lacinia consequat nunc, ac
                suscipit massa ultricies nec.
            </section>
        </aside>
    </main> 
    <% include ../templates/footer %>
</body>