<!--Template of the 404 page-->
<!DOCTYPE html>
<html>
<% include ../templates/head %>
<link rel="stylesheet" type="text/css" href="style/default/static-footer.css" />

<body>
    <% include ../templates/header/not-logged-in-header %>
    <main>
        <article>
            <section>
                <h3>Logout</h3>
            </section>
            <section>
                <p>
                    Success. You are now logged out. Later, loser!
                </p>
            </section>
        </article>
    </main>
    <% include ../templates/footer %>
</body>